* {
  margin: 0;
  padding: 0;
}
h2 {
  padding-top: 40px;
  padding-bottom: 60px;
  font-family: Hachi Maru Pop;
  font-size: 70px;
  font-weight: 400;
  text-align: center;
}
h3 {
  color: #ffffff;
  padding-top: 40px;
  padding-bottom: 60px;
  font-family: Hachi Maru Pop;
  font-size: 38px;
  font-weight: 300;
  text-align: center;
}
h5 {
  font-size: 30px;
  text-align: center;
}
p {
  font-size: 26px;
  color: #545454;
}

.container {
}
.header {
  background: linear-gradient(to bottom right, #795742, #242324);
}

.header__logo-menu {
  padding: 30px 50px 50px 30px;
  display: flex;
  justify-content: space-around;
}
@media (max-width: 600px) {
  .header__logo-menu {
    flex-direction: column;
  }
}
.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menu__list {
  display: flex;
}
@media (max-width: 1000px) {
  .menu__list {
    flex-direction: column;
  }
}

.menu__list-item {
  list-style-type: none;
}

.menu__link {
  margin: 20px;
  color: #ffffff;
  text-decoration: none;
  font-family: Manrope;
  font-size: 25px;
  font-weight: 400;
}
.menu__link:hover {
  color: #ffffff;
}
.menu__link--active {
  margin: 20px;
  color: #ffffff;
  text-decoration: none;
  font-family: Manrope;
  font-size: 25px;
  font-weight: 400;
  border-bottom: 4px solid #f1cdb3;
  padding-bottom: 2px;
}
.menu__link--active:hover {
  color: #ffffff;
}
@media (max-width: 1200px) {
  .menu__link,
  .menu__link--active {
    font-size: 20px;
  }
}
@media (max-width: 1000px) {
  .menu__link,
  .menu__link--active {
    font-size: 20px;
  }
}

.header__logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header__logo-name {
  color: #d89869;
  font-family: Manrope;
  font-size: 48px;
  font-weight: 400;
}

.header__logo-description {
  color: #ffffff;

  font-size: 18px;
  font-weight: 400;
}

.header__picture-description {
  display: flex;
  align-items: center;
}
@media (max-width: 800px) {
  .header__picture-description {
    flex-direction: column;
  }
}

.header-picture {
  width: 1800px;
  max-width: 100%;
}

.header__title {
  margin-left: 40px;
  margin-bottom: 40px;
  font-family: Hachi Maru Pop;
  font-size: 70px;
  font-weight: 400;
  color: #ffffff;
}
@media (max-width: 600px) {
  .header__title {
    font-size: 50px;
  }
}
.header__text {
  margin-left: 40px;
  margin-bottom: 160px;
  color: #c5c5c5;
  font-size: 26px;
}

.header__button {
  margin-left: 60px;
  margin-bottom: 160px;
  width: 319px;
  height: 74px;
  border: none;
  border-radius: 45px;
  background: #f1cdb3;
  font-size: 24px;
  transition: transform 0.3s ease;
}
.header__button:hover {
  transform: scale(1.03);
}
@media (max-width: 500px) {
  .header__button {
    margin-left: 20px;
  }
}
.about {
}

.about__inner-picture {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 40px;
}
@media (max-width: 1200px) {
  .about__inner-picture {
    flex-direction: column;
  }
}

.about__inner {
}

.about__picture {
}

.about-picture {
  width: 740px;
  padding: 70px;
}
@media (max-width: 1200px) {
  .about-picture {
    max-width: 100%;
  }
}

.counter {
  padding-top: 100px;
  padding-bottom: 150px;
}

.counter__counter {
  display: flex;
  justify-content: space-around;
}

.counter__name {
  padding-bottom: 80px;
  display: flex;
  justify-content: center;
}

.counter__digital {
  font-size: 100px;
  display: flex;
  justify-content: center;
}
@media (max-width: 800px) {
  .counter__digital {
    font-size: 60px;
  }
}
@media (max-width: 500px) {
  .counter__digital {
    font-size: 40px;
  }
}
@media (max-width: 400px) {
  .counter__digital {
    font-size: 30px;
  }
}

.counter__titles {
  font-size: 40px;
}
@media (max-width: 800px) {
  .counter__titles {
    font-size: 30px;
  }
}
@media (max-width: 500px) {
  .counter__titles {
    font-size: 20px;
  }
}
@media (max-width: 400px) {
  .counter__titles {
    font-size: 13px;
  }
}

.carousel__slider {
  position: relative;
  padding: 0px 90px;
}
.slick-list {
  overflow: hidden;
}
.slick-track {
  display: flex;
}
.slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  font-size: 0;
  width: 30px;
  height: 30px;
}
.slick-arrow.slick-prev {
  left: 0;
  border: none;
  background: url('./pictures/left-arrow-backup-2-svgrepo-com.svg') 0 0 / 100%
    no-repeat;
}
.slick-arrow.slick-next {
  right: 0;
  border: none;
  background: url('./pictures/right-arrow-backup-2-svgrepo-com.svg') 0 0 / 100%
    no-repeat;
}

.slide__item {
  display: flex;
  justify-content: center;
}
.card {
  justify-content: center;
}
.card-body {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.btn.btn-primary {
  font-size: 19px;
  width: 260px;
  background-color: white;
  color: black;
  border-radius: 45px;
  border: 4px solid #f1cdb3;
  transition: border-color 0.8s ease;
  transition: background-color 0.8s ease;
}
.btn.btn-primary:hover {
  border-color: #e4c2aa;
  background-color: #f1cdb3;
  color: black;
}
@media (max-width: 1200px) {
  .btn.btn-primary {
    font-size: 13px;
    width: 160px;
  }
}
.carousel__button {
  display: flex;
  justify-content: center;
}
.carousel-button {
  margin-top: 60px;
  margin-bottom: 100px;
  width: 319px;
  height: 74px;
  border: none;
  border-radius: 45px;
  background: #f1cdb3;
  font-size: 24px;
  transition: transform 0.3s ease;
}
.carousel-button:hover {
  transform: scale(1.03);
}

.help {
}
.help_text-picture {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.help__picture {
  max-width: 100%;
}

.help__card {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.help__button {
  max-width: 100%;
  width: 535px;
  height: 76px;
  margin-top: 60px;
  margin-bottom: 40px;
  /* border: none; */
  border-radius: 16px;
  background: #f1cdb3;
  font-size: 26px;
  border: 4px solid #f1cdb3;
  transition: border-color 0.8s ease;
}
.help__button:hover {
  border-color: #d8b8a2;
}
@media (max-width: 800px) {
  .help__button {
    font-size: 17px;
  }
}

.credit-card {
  width: 100px;
  padding-right: 30px;
}

.footer {
  background: linear-gradient(to bottom right, #795742, #242324);
}
.footer__questions-address-picture {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
@media (max-width: 900px) {
  .footer__questions-address-picture {
    flex-direction: column;
  }
}
.footer__questions {
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
.questions-text-svg {
  display: flex;
}
.questions-text {
  margin-left: 20px;
  font-size: 30px;
  color: #ffffff;
}
@media (max-width: 500px) {
  .questions-text {
    font-size: 25px;
  }
}

.footer__address {
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
.address-text-svg {
  display: flex;
  align-items: flex-end;
}
.address-text {
  margin-left: 20px;
  font-size: 30px;
  color: #ffffff;
}
@media (max-width: 500px) {
  .address-text {
    font-size: 22px;
  }
}
.footer__picture {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.footer-picture {
  width: 320px;
}
@media (max-width: 1200px) {
  .footer-picture {
    width: 160px;
  }
}
@media (max-width: 1000px) {
  .footer-picture {
    display: none;
  }
}
@media (max-width: 500px) {
  svg {
    width: 25px;
  }
}
